<style>
.container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 50px;
    margin-top: 20px;
}
.item {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.label { 
    font-size: 24px;
}
.item .patched {
    font-weight: bold;
    margin-top: 2px;
    font-size: 48px;
    color: #123458;
}
.item .open {
    font-weight: bold;
    margin-top: 2px;
    font-size: 48px;
    color: #B0A695;
}
.item .rejected {
    font-weight: bold;
    margin-top: 2px;
    font-size: 48px;
    color: #D4C9BE;
}
</style>

<div id="bug-reports">
    <h2>Our Bug Reports</h2>

    <div class="container">
        <div class="item">
            <a href="posts/2024-bug-release-patched">
                <div class="patched">Patched</div>
            </a>
        </div>
        <div class="item">
            <a href="posts/2024-bug-release-open">
                <div class="open">Open</div>
            </a>
        </div>
        <div class="item">
            <a href="posts/2024-bug-release-rejected">
                <div class="rejected">Rejected</div>
            </a>
        </div>
    </div>
</div>