<style>
    table {
        margin-left:auto;
        margin-right:auto;
        width: 800px;
        border-collapse: collapse;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
    }

    body.dark table {
        border-collapse: collapse;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;  
    }

    th {
        width: 400px;
        height: 40px;
        text-align: center;
        color: #000;
        border-bottom: 1px solid #000;
        vertical-align: middle;
    }

    body.dark th {
        width: 400px;
        height: 40px;
        text-align: center;
        color: #fff;
        border-bottom: 1px solid #fff;
        vertical-align: middle;
    }

    td {
        width: 400px;
        height: 40px;
        text-align: left;
        color: #000;
        border-bottom: 1px solid #0000001b;
        vertical-align: middle;
    }

    body.dark td {
        width: 400px;
        height: 40px;
        text-align: left;
        color: #DADADB;
        border-bottom: 1px solid #2c2d30;
        vertical-align: middle;

    }

    .patched {
        font-weight: bold;
        color: #123458;
    }

    body.dark .patched {
        color: #A5C9CA;
    }

    .open {
        font-weight: bold;
        color: #A9A9A9;
    }

    body.dark .open {
        font-weight: bold;
        color: #7A7E85;
    }

    .rejected {
        font-weight: bold;
        color: #C5C5C5;
    }

    body.dark .rejected {
        font-weight: bold;
        color: #5B5F66;
    }
</style>

<div id="bug-reports">
    <h1>Our Bug Reports</h1>
    We experimented to find Null Pointer Exception bugs in 51 popular libraries, and reported 21 bugs to the maintainers
    of each library.
    Of these, <b class="patched">15</b> reports have been patched, <b class="open">4</b> reports are still open, and <b
        class="rejected">2</b> reports were rejected.
    The table below lists the reported bugs.
    <br></br>
    <table>
        <tr>
            <th scope="col">Project</th>
            <th scope="col">Report</th>
        </tr>
        <tr>
            <td>Activiti</td>
            <td><a class="open" href="https://github.com/Activiti/Activiti/issues/4553">Issue 4553 (Open)</a></td>
        </tr>
        <tr>
            <td>Apache Commons BCEL</td>
            <td><a class="patched" href="https://github.com/apache/commons-bcel/pull/289">Issue 289 (Patched)</a></td>
        </tr>
        <tr>
            <td>Apache Commons Configuration</td>
            <td>
                <a class="patched" href="https://github.com/apache/commons-configuration/pull/355">Issue 355 (Patched)</a>
                <br/>
                <a class="patched" href="https://github.com/apache/commons-configuration/pull/365">Issue 365 (Patched)</a>
                <br/>
                <a class="patched" href="https://github.com/apache/commons-configuration/pull/368">Issue 368 (Patched)</a>
                <br/>
                <a class="patched" href="https://github.com/apache/commons-configuration/pull/381">Issue 381 (Patched)</a>
                <br/>
                <a class="rejected" href="https://github.com/apache/commons-configuration/pull/382">Issue 382 (Rejected)</a>
            </td>
        </tr>
        <tr>
            <td>Apache Commons DBCP</td>
            <td><a class="patched" href="https://github.com/apache/commons-dbcp/pull/352">Issue 352 (Patched)</a></td>
        </tr>
        <tr>
            <td>Apache Commons IO</td>
            <td><a class="rejected" href="https://github.com/apache/commons-io/pull/569">Issue 569 (Rejected)</a></td>
        </tr>
        <tr>
            <td>Apache Commons Math</td>
            <td><a class="open" href="https://github.com/apache/commons-math/pull/236">Issue 236 (Open)</a></td>
        </tr>
        <tr>
            <td>Apache Johnzon</td>
            <td>
                <a class="patched" href="https://github.com/apache/johnzon/pull/117">Issue 117 (Patched)</a>
                <br/>
                <a class="patched" href="https://github.com/apache/johnzon/pull/123">Issue 123 (Patched)</a>
            </td>
        </tr>
        <tr>
            <td>Apache Karaf</td>
            <td>
                <a class="patched" href="https://github.com/apache/karaf/pull/1825">Issue 1825 (Patched)</a>
                <br/>
                <a class="patched" href="https://github.com/apache/karaf/pull/1826">Issue 1826 (Patched)</a>
            </td>
        </tr>
        <tr>
            <td>Apache PDFBox</td>
            <td><a class="patched" href="https://github.com/apache/pdfbox/pull/178">Issue 178 (Patched)</a></td>
        </tr>
        <tr>
            <td>Apache TsFile</td>
            <td><a class="open" href="https://github.com/apache/tsfile/pull/50">Issue 50 (Open)</a></td>
        </tr>
        <tr>
            <td>Feign</td>
            <td><a class="patched" href="https://github.com/OpenFeign/feign/pull/2304">Issue 2304 (Patched)</a></td>
        </tr>
        <tr>
            <td>JSqlParser</td>
            <td><a class="patched" href="https://github.com/JSQLParser/JSqlParser/pull/1965">Issue 1965 (Patched)</a></td>
        </tr>
        <tr>
            <td>Kubernetes Java Client</td>
            <td><a class="patched" href="https://github.com/kubernetes-client/java/pull/3081">Issue 3081 (Patched)</a></td>
        </tr>
        <tr>
            <td>Nutz</td>
            <td><a class="open" href="https://github.com/nutzam/nutz/pull/1613">Issue 1613 (Open)</a></td>
        </tr>
        <tr>
            <td>OpenGrok</td>
            <td><a class="patched" href="https://github.com/oracle/opengrok/pull/4542">Issue 4542 (Patched)</a></td>
        </tr>
    </table>
</div>