{{- with site.Params.homeInfoParams }}
<style>
    .header-with-icon {
        display: flex;
        gap: 5px;
    }

    .header-with-icon img {
        width: 100px;
        height: 100px;
    }
</style>

<article class="first-entry home-info">
    <header class="entry-header">
        <div class="header-with-icon">
            <h1>{{ .Title | markdownify }}</h1>
            <img src="img/unitcon.png"/>
        </div>
    </header>
    <div class="entry-content">
        {{ partial "people.html" }}
    </div>
    <div class="entry-content">
         <h1>Introduction</h1>
         {{ .Content | markdownify }}
     </div>
    <div class="entry-content">
        {{ partial "overview.html" }}
    </div>
    <div class="entry-content">
        {{ partial "bug_report.html" }}
    </div>
    <div class="entry-content">
        {{ partial "social_icons.html" }}
    </div>
    <div class="entry-content">
        {{ partial "acknowledgements.html" }}
    </div>
</article>
{{- end -}}
