<style>
    ul{
        list-style: none;
        display: flex;
        justify-content: space-around;
    }

    li {
        display: inline-block;
        text-align: center;
    }
</style>

<div id="people">
    <ul>
        <li>
            <a href="https://sujin0529.github.io/">Sujin Jang
            </a>
        </li>
        <li>
            <a href="https://yeonhee-ryou.github.io/">Yeonhee Ryou
            </a>
        </li>
        <li>
            Heewon Lee
        </li>
        <li>
            <a href="https://kihongheo.kaist.ac.kr/">Kihong Heo
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="https://prosys.kaist.ac.kr">
                Prosys @ KAIST
            </a>
        </li>
    </ul>
</div>